veadk-python[eval] @ git+https://github.com/volcengine/veadk-python.git # extra eval for prompt optimization in veadk studio
agent-pilot-sdk>=0.0.9 # extra dep for prompt optimization in veadk studio
uvicorn[standard]
fastapi